In [1]:
import pandas as pd
import numpy as np
import dask.dataframe as dd
import os
import sys
import missingno as msno
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm, tqdm_notebook
from collections import Counter
tqdm.pandas(tqdm_notebook)
import gc

In [2]:
%%time
train1 = pd.read_csv('train_processed.csv')
train2 = pd.read_csv('train_processed_2.csv')
test1 = pd.read_csv('test_processed.csv')
test2 = pd.read_csv('test_processed_2.csv')

CPU times: user 8.87 s, sys: 417 ms, total: 9.29 s
Wall time: 9.29 s

In [3]:
train1.shape,train2.shape,test1.shape,test2.shape

((201917, 102), (201917, 102), (123623, 101), (123623, 101))

In [4]:
train1.head()

,first_active_month,card_id,feature_1,feature_2,feature_3,target,active_year,active_month,h_af_sum,h_af_count,...,h_num_second_most_common_state_id,h_third_most_common_state_id,h_num_third_most_common_state_id,h_how_many_unique_subsector_id,h_most_common_subsector_id,h_num_most_common_subsector_id,h_second_most_common_subsector_id,h_num_second_most_common_subsector_id,h_third_most_common_subsector_id,h_num_third_most_common_subsector_id
0,2017-06,C_ID_92a2005557,5,2,1,-0.820283,2017,6,247,260,...,2.0,20.0,1.0,21,34,97,37.0,59.0,39.0,27.0
1,2017-01,C_ID_3d0044924f,4,1,0,0.392913,2017,1,339,350,...,31.0,15.0,10.0,24,34,74,37.0,59.0,19.0,54.0
2,2016-08,C_ID_d639edf6cd,2,2,0,0.688056,2016,8,41,43,...,4.0,NaN,NaN,7,33,32,37.0,4.0,16.0,3.0
3,2017-09,C_ID_186d6a6901,4,3,0,0.142495,2017,9,77,77,...,12.0,9.0,10.0,13,37,24,27.0,13.0,29.0,12.0
4,2017-11,C_ID_cdbd2c0db2,1,3,0,-0.159749,2017,11,128,133,...,15.0,9.0,8.0,17,37,79,29.0,12.0,27.0,8.0

In [5]:
used_columns = ['card_id'] + [x for x in train2.columns if x not in train1.columns ]

In [6]:
%%time
train = train1.merge(train2[used_columns],how = 'left',on = 'card_id')
test = test1.merge(test2[used_columns],how = 'left',on = 'card_id')

CPU times: user 1.98 s, sys: 1.95 s, total: 3.92 s
Wall time: 3.92 s

In [7]:
train.shape,test.shape

((201917, 196), (123623, 195))

In [8]:
train.to_csv('train_merged.csv',index=False)
test.to_csv('test_merged.csv',index=False)